@using YogaStudio.UI.Models
@model List<BlogViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Blog";
}

<section class="hero-wrap js-fullheight" style="background-image: url('/yogalax-master/images/bg_3.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-3 bread">Our Blog</h1>
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="/Default/Index">Home</a></span>
                    <span>Blog</span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row d-flex">
            @if (Model == null || !Model.Any())
            {
                <div class="col-12 text-center">
                    <p>Henüz blog yazısı eklenmemiş.</p>
                </div>
            }
            else
            {
                @foreach (var blog in Model)
                {
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="blog-entry justify-content-end">
                            <a href="#" class="block-20" style="background-image: url('@blog.ImageUrl');"></a>
                            <div class="text p-4 float-right d-block">
                                <div class="d-flex align-items-center pt-2 mb-4">
                                    <div class="one">
                                        <span class="day">@blog.CreatedAt.Day</span>
                                    </div>
                                    <div class="two">
                                        <span class="yr">@blog.CreatedAt.Year</span>
                                        <span class="mos">@blog.CreatedAt.ToString("MMMM")</span>
                                    </div>
                                </div>
                                <h3 class="heading mt-2"><a href="#">@blog.Title</a></h3>
                                <p>@blog.Content</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
